<section class="giscus mx-auto mt-10 w-full"></section>

<script
  src="https://giscus.app/client.js"
  data-repo="jvmonjo/blog"
  data-repo-id="R_kgDOLOOyzQ"
  data-category="General"
  data-category-id="DIC_kwDOLOOyzc4CdBRX"
  data-mapping="url"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="bottom"
  data-theme="preferred_color_scheme"
  data-lang="ca"
  crossorigin="anonymous"
  async
></script>
